.profile-info {
  margin-bottom: 25px;
  text-align: center;
}

.profile-name {
  color: #333;
  margin: 0 0 10px 0;
  font-size: 28px;
  font-weight: bold;
}

.profile-title {
  color: #667eea;
  margin: 0 0 15px 0;
  font-size: 18px;
  font-weight: normal;
}

.profile-bio {
  color: #666;
  line-height: 1.6;
  margin: 0;
  font-size: 16px;
}